{% comment %}
	Renders the site's mobile navigation menu

	Accepts:
	- menu_mobile: {Object} The mobile menu (linklist) object
	- menu: {Object} The main menu (linklist) object. Used as fallback only if a menu_mobile is not set.
	- menu_secondary: {Object} The right menu (linklist) object. Used as fallback only if a menu_mobile is not set.
	- expand_on_arrow: {Boolean} Whether the menu items should expand only on arrow click.
	- typography: {String} The typography to be used
	- blocks: {Object} The section's blocks

	Usage:
	{% render 'header-mobile-menu', menu_mobile: mobile_menu %}
{% endcomment %}

{% if menu != blank or menu_secondary != blank or menu_mobile != blank %}
	<div class="head-slot-nav-mobile-link-wrapper">
		<button
			class="head-slot-nav-link head-slot-nav-mobile-link button"
			aria-expanded="false"
			aria-haspopup="true"
			aria-controls="mobile-menu"
			aria-label="{{ 'sections.mobile_menu.label' | t }}"
		>
			<span class="icon-state-primary">
				{% render 'icon-menu' %}
			</span>
			<span class="icon-state-secondary">
				{% render 'icon-cross' %}
			</span>
		</button>

		<div
			class="mobile-menu color-{{ section.settings.mobile_navigation_color_scheme }}"
			aria-hidden="true"
			{% if expand_on_arrow %}data-button-expand{% endif %}
		>
			<div class="mobile-menu-inner">
				<nav class="navigation-mobile-wrap typography-{{ typography }}" tabindex="-1">
					<ul class="navigation-mobile">
						{% if menu_mobile != blank %}
							{% render 'header-mobile-menu-items', menu: menu_mobile, blocks: blocks %}
						{% elsif menu != blank or menu_secondary != blank %}
							{% render 'header-mobile-menu-items', menu: menu, blocks: blocks %}
							{% render 'header-mobile-menu-items', menu: menu_secondary, blocks: blocks %}
						{% endif %}
					</ul>
				</nav>

				<div class="mobile-menu-utilities">
					<div class="mobile-menu-utility-section">
						<div class="mobile-menu-region-currency">
							{%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
								{%- render 'dropdown-region', classname: 'dropdown-left dropdown-up dropdown-toggle-button', id: 'MobileMenu' -%}
							{%- endif -%}

							{%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
								{%- render 'dropdown-language', classname: 'dropdown-left dropdown-up dropdown-toggle-button', id: 'MobileMenu' -%}
							{%- endif -%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
