<div class="container">
	<div class="block-section">
		{% unless section.settings.hide_heading %}
			<h1 class="page-title">
				{{ page.title | escape }}
			</h1>
		{% endunless %}

		<div class="rte page-content">
			{{ page.content }}
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.main_page_fullwidth.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_heading",
      "default": false,
      "label": "t:sections.main_page.settings.hide_heading.label"
    }
  ]
}
{% endschema %}
