/* Component - Facets
=================================== */
.facet {
  position: relative;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 1.8rem;
}

.facet + .facet {
  border-top: 0;
}

.no-js .facet,
collapsible-expandable[expanded="true"] .facet,
.facet-standalone {
  padding-bottom: 1.8rem;
}

.no-js .facet .facet-toggle .angle-icon::before,
.no-js .facet .facet-toggle .angle-icon::after,
.facet-toggle[aria-expanded=true] .angle-icon::before,
.facet-toggle[aria-expanded=true] .angle-icon::after {
  transform: rotate(0);
  height: 2px;
}

.no-js .facet .facet-content,
[aria-expanded=true] + .facet-content,
.facet-standalone .facet-content {
  display: block;
}

.facet-standalone .facet-content {
  padding-top: 1.8rem;
}

collapsible-expandable + collapsible-expandable > .facet {
  border-top: 0;
}

collapsible-expandable + .facet {
  border-top: 0;
}

.js-filter + .js-filter .facet {
  border-top: 0;
}

collapsible-expandable + .js-filter .facet {
  border-top: 0;
}

.facet-toggle {
  font-family: var(--font-heading-family);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 0 0 1.8rem;
  text-decoration: none;
  background: none;
  box-shadow: none;
  color: rgb(var(--color-foreground-alt));
  height: auto;
  width: 100%;
  font-size: calc(var(--font-heading-scale) * 1.8rem);
  line-height: calc(1 + 0.2 / var(--font-heading-scale));
  border-radius: 0;
  font-weight: var(--font-bolder-weight);
}

.facet-toggle > span:first-child {
  display: flex;
  align-items: center;
  text-align: left;
}

.facet-toggle > span:first-child svg {
  align-self: flex-start;
  margin-right: 0.7rem;
  width: 24px;
  height: 24px;
  flex: none;
}

.facet-toggle > span:first-child svg path {
  fill: rgb(var(--color-accent-2));
}

.facet-toggle .angle {
  margin-left: auto;
  flex: none;
  align-self: flex-start;
  margin-top: 0.2rem;
}

.facet-content {
  display: none;
}

.facet-content-header {
  margin-bottom: 1.8rem;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  display: flex;
}

.facet-content-header .facet-link-reset {
  margin-left: auto;
}

.facet-content-footer {
  margin-top: 1.8rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
  line-height: 1.2;
}

.facet-content-footer:empty {
  display: none;
}

.facet-content-footer-end {
  text-align: end;
  margin-left: auto;
}

.facet-content-footer-end .filter-content-operator-label + facet-remove {
  margin-top: 1.5rem;
  display: block;
}

@media (min-width: 990px) {
  .facet-content-footer-end .filter-content-operator-label + facet-remove {
    margin-top: 0.5rem;
  }
}

.filter-content-operator-label {
  font-size: calc(var(--font-body-scale) * 1.2rem);
  display: block;
}

.facet-options-list {
  margin: 0;
  padding: 0 0.1rem;
  list-style: none;
}

.facet-options-list[aria-expanded=false] {
  max-height: 30.1rem;
  overflow-y: hidden;
}

.facet-options-list-item {
  display: block;
  padding: 0;
}

.facet-content.color-swatch .facet-options-list {
  display: flex;
  grid-gap: 1.5rem;
  flex-wrap: wrap;
}

.facet-content.color-swatch .checkbox-facet-label {
  margin: 0;
}

.facet-content.color-swatch .facet-options-list-item {
  align-self: center;
}

.facet-content.color-swatch .checkbox-facet-label-count {
  display: none;
}

.facet-content.color-swatch-image-presentation .facet-options-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.facet-content.color-swatch-image-presentation .checkbox-facet-label {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facet-content.color-swatch-image-presentation .checkbox-facet-image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  padding: 0.5rem;
  z-index: 1;
}

.facet-content.color-swatch-image-presentation .checkbox-facet [type="checkbox"] {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-base);
  box-shadow: 0 0 0 0.2rem var(--color-border);
  background: rgb(var(--color-base-background-2));
}

.checkbox-facet {
  line-height: normal;
  width: 100%;
  position: relative;
}

.checkbox-facet [type=checkbox] {
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: -1;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox-facet [type=checkbox]:checked ~ .checkbox-facet-check {
  background-color: rgb(var(--color-accent-2));
  color: rgb(var(--color-base-accent-2-text));
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-accent-2));
}

.checkbox-facet [type=checkbox]:checked ~ svg {
  visibility: visible;
}

.checkbox-facet [type=checkbox]:checked ~ .checkbox-facet-label-count {
  box-shadow: inset 0 0 0 1px rgb(var(--color-foreground));
  border-radius: 10px;
  padding: 0.3rem .8rem;
  position: relative;
  right: -3px;
}

.checkbox-facet svg {
  position: absolute;
  left: -0.1rem;
  top: 0;
  z-index: 1;
  width: 2.2rem;
  height: 2.2rem;
  visibility: hidden;
  font-size: 1rem;
}

.checkbox-facet svg path {
  fill: rgb(var(--color-base-accent-2-text));
}

.checkbox-facet.checkbox-facet-disabled .checkbox-facet-label {
  opacity: 0.6;
  cursor: not-allowed;
}

.checkbox-facet.checkbox-facet-disabled .checkbox-facet-label:hover .checkbox-facet-check {
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
}

.checkbox-facet-label {
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  color: rgb(var(--color-foreground-alt));
  font-size: calc(var(--font-body-scale) * 1.5rem);
  padding: 0.1rem 0;
  position: relative;
  word-break: break-word;
}

.checkbox-facet-label:hover {
  color: rgba(var(--color-accent-1));
}

.checkbox-facet-label:hover .checkbox-facet-check {
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-accent-1));
}

.checkbox-facet-label[data-color],
.checkbox-facet-label[data-image] {
  text-indent: -999em;
  padding: .2rem;
  width: 3.2rem;
  height: 3.2rem;
  color: rgb(var(--color-foreground));
  border-radius: var(--buttons-radius);
  position: relative;
  left: 4px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 1200px) {
  .checkbox-facet-label[data-color],
  .checkbox-facet-label[data-image] {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.checkbox-facet-label[data-color] [type=checkbox],
.checkbox-facet-label[data-image] [type=checkbox] {
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: .2rem solid transparent;
  border-radius: var(--buttons-radius);
  z-index: 1;
  cursor: pointer;
}

.checkbox-facet-label[data-color] [type=checkbox]:checked,
.checkbox-facet-label[data-image] [type=checkbox]:checked {
  box-shadow: 0 0 0 0.2rem currentColor;
}

.checkbox-facet-label[data-color] span,
.checkbox-facet-label[data-image] span,
.checkbox-facet-label[data-color] svg,
.checkbox-facet-label[data-image] svg {
  display: none;
}

.checkbox-facet-check {
  flex: none;
  position: relative;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: var(--color-background);
  border-radius: 3px;
  transition: background-color 0.18s ease;
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
}

.checkbox-facet-label-count {
  margin-left: auto;
  margin-right: 0.2rem;
  font-size: calc(var(--font-body-scale) * 1.2rem);
  color: rgb(var(--color-foreground));
  padding: 0.3rem 0;
  flex: none;
}

.facets-price-range {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}

.facet-price-range-field {
  display: flex;
  align-items: center;
  width: 50%;
}

.facet-price-range-currency {
  margin-right: 0.5rem;
}

.button-sidebar-facets-submit {
  width: 100%;
  margin-top: 2rem;
}
