/* Section - Product
=================================== */
@media (min-width: 990px) {
  .product-page {
    display: grid;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  .product-page-expanded {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 45% 1fr;
  }

  .product-section-featured.product-page-expanded {
    grid-row-gap: 0;
  }
}

@media (min-width: 1200px) {
  .product-page {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
  }

  .product-page-expanded {
    grid-template-columns: 32.5% 1fr 24%;
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
  }
}

@media (min-width: 990px) {
  .product-no-media {
    display: block;
  }
}

.product-info-wrap-content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

@media (min-width: 1200px) {
  .product-info-wrap-content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

@media (min-width: 990px) {
  .product-no-media .product-info {
    position: static;
  }
}

.product-media-gallery-wrap {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

@media (min-width: 1200px) {
  .product-media-gallery-wrap {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.product-media-wrapper {
  margin-bottom: 3rem;
}

@media (min-width: 750px) {
  .product-media-wrapper {
    flex: none;
  }
}

@media (min-width: 990px) {
  .product-section-featured .product-media-wrapper {
    margin-bottom: 0;
  }
}

@media (hover: none) {
  .product-media-wrapper {
    grid-gap: 2rem;
  }
}

.product-media-gallery-message {
  margin-bottom: 3rem;
  margin-top: -0.5rem;
  font-size: calc(var(--font-body-scale) * 1.3rem);
}

@media (min-width: 750px) {
  .product-media-gallery-message {
    margin-bottom: 5rem;
    margin-top: -1rem;
  }

  .product-section-featured .product-media-gallery-message {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
}

.product-info-main {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-border);
}

.product-info-main + .product-info-secondary:not(.card) {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

@media (min-width: 750px) {
  .product-info-heading {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
  }
}

.product-info-heading:last-child {
  margin-bottom: 0;
}

.product-info-secondary {
  border-top: 1px solid var(--color-border);
  padding-top: 3rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.product-info-secondary-line {
  display: flex;
  align-items: center;
  line-height: 1.45;
}

.product-info-secondary-line + .product-info-secondary-line {
  margin-top: 1rem;
}

.product-info-secondary-line > svg {
  margin-right: 1rem;
  flex: none;
  position: relative;
  top: -.1rem;
  width: 2.4rem;
  height: 2.4rem;
  align-self: flex-start;
}

.product-info-secondary-line > svg path {
  fill: rgb(var(--color-foreground));
}

.product-info-secondary.card {
  border: 0;
  flex-direction: column;
  height: auto;
  padding: 2rem;
  border-radius: var(--border-radius-base);
}

.product-info-secondary.card.color-background-1 {
  border: 0.1rem solid var(--color-border);
}

.product-info-description {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.product-no-media .product-info-description {
  margin-top: 4rem;
}

@media (min-width: 1200px) {
  .product-info-description {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
}

.product-info-sidebar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 4rem;
  padding-top: 3.5rem;
  border-top: 1px solid var(--color-border);
}

@media (min-width: 1200px) {
  .product-info-sidebar {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }

  .product-no-media .product-info-sidebar {
    margin-top: 3.5rem;
  }

  .product-section-featured .product-info-sidebar {
    grid-row: 1 / 2;
  }
}

.product-info-eyebrow {
  margin-bottom: 1rem;
  font-size: calc(var(--font-body-scale) * 1.5rem);
}

.product-info-eyebrow a {
  color: currentColor;
  text-decoration-color: transparent;
  transition: text-decoration .18s ease;
}

.product-info-eyebrow a:hover {
  text-decoration: underline;
}

.product-info-badges {
  display: flex;
  grid-gap: calc(var(--spacing-base-1) / 3);
  margin-bottom: var(--spacing-base-1);
}

.product-info-badges .card-badge {
  position: static;
}

.product-info-meta {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: calc(var(--font-body-scale) * 1.4rem);
}

@media (min-width: 750px) {
  .product-info-meta:not(.product-info-meta-stretch) {
    flex-wrap: nowrap;
  }
}

.product-info-meta .spr-badge {
  display: flex;
  align-items: center;
}

.product-info-meta-item.last {
  margin-left: auto;
  margin-right: 0;
}

.product-info-meta-item {
  margin-right: 1rem;
  display: block;
  line-height: normal;
  font-size: calc(var(--font-body-scale) * 1.3rem);
}

.product-info-meta-item .badge-stock {
  line-height: normal;
}

.product-info-meta-item-code {
  order: 99;
  width: 100%;
  flex: none;
  margin-top: 1rem;
}

.product-info-meta-item-code + .product-info-meta-item-code {
  margin-top: 0;
}

@media (min-width: 1200px) {
  .product-info-meta-stretch .product-info-meta-item-code {
    margin-top: 0;
    order: unset;
    width: auto;
  }
}

@media (min-width: 750px) {
  .product-info-meta:not(.product-info-meta-stretch) .product-info-meta-item-code {
    margin-top: 0;
    order: unset;
    width: auto;
  }
}

.product-media {
  position: relative;
}

.product-media-main-wrapper {
  position: relative;
  flex: auto;
  padding: 1rem;
  border-radius: var(--border-radius-base);
  box-shadow: inset 0 0 0 0.1rem rgb(var(--color-card-border));
}

.product-media-main-wrapper::after {
  content: "flickity";
  display: none;
}

.product-media-main-wrapper:not(.flickity-enabled) .product-media-main:not(.is-active) {
  display: none;
}

@media (min-width: 750px) {
  .product-media-main-wrapper {
    order: 1;
    padding: 1.5rem;
  }

  .product-media-main-wrapper::after {
    content: "";
  }
}

.product-media-main {
  z-index: 1;
  width: 100%;
}

.product-media-main:hover .product-media-icon-enlarge {
  opacity: 1;
}

@media (min-width: 750px) {
  .product-media-main:not(.is-active) {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .product-media-main:not(.is-active) img {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.product-media-icon-enlarge {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border: 1px solid var(--color-border);
  width: 36px;
  height: 36px;
  pointer-events: none;
  background: rgba(var(--color-background), 0.9);
}

@media (min-width: 990px) {
  .product-media-icon-enlarge {
    opacity: 0;
    transition: opacity 0.18s ease-in-out;
  }
}

.product-media-icon-enlarge svg {
  width: 24px;
  position: static;
}

.product-media-icon-enlarge svg path {
  fill: rgb(var(--color-foreground-alt));
}

.product-media-thumbnails {
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-start;
  grid-gap: 1rem;
  padding: 1px;
  scroll-snap-type: x mandatory;
  scroll-padding: 3rem;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
}

@media (hover: none) {
  .product-media-thumbnails {
    padding-right: 1px;
    margin-right: 0;
  }
}

@media (min-width: 990px) {
  .product-media-thumbnails {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: visible;
  }
}

.product-media-thumbnail {
  width: 16.66667%;
  max-width: 16.66667%;
  flex: none;
  padding: 0.5rem;
  position: relative;
  border-radius: var(--border-radius-base);
}

@media (min-width: 990px) {
  .product-media-thumbnail {
    width: 100%;
    max-width: 100%;
  }
}

.product-media-thumbnail img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

html:not(.no-js) .product-media-thumbnail.is-active {
  box-shadow: inset 0 0 0 1px rgb(var(--color-accent-1));
  background-color: rgb(var(--color-background));
}

.product-media-thumbnail-variant:not(:first-child) {
  display: none;
}

.product-media-thumbnail-badge {
  background-color: rgb(var(--color-background));
  border-radius: 50%;
  border: 1px solid var(--color-border);
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  z-index: 1;
  line-height: 0;
  transition: color var(--duration-short) ease, opacity var(--duration-short) ease;
}

.product-media-thumbnail-badge svg {
  position: static;
  width: 0.8rem;
  height: 1rem;
}

.product-media-toggle {
  background: none;
  box-shadow: none;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.product-modal-opener {
  display: block;
  position: relative;
}

.product-modal-opener:not(.product-modal-opener-image) {
  display: none;
}

.product-xr-button {
  display: flex;
  margin: 1rem auto 0;
}

.product-xr-button[data-shopify-xr-hidden] {
  display: none !important;
}

.product-form {
  display: block;
}

#product-form-installment {
  margin: 3.5rem 0;
}

media-zoom {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.media-zoom-zoom-area {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 0 1px rgba(var(--color-accent-1));
  background: rgba(var(--color-accent-1), .075);
  pointer-events: none;
  display: none;
}

.media-zoom-preview-area {
  position: fixed;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(var(--color-accent-1));
  background-color: rgb(var(--color-background));
  border-radius: var(--border-radius-base);
  display: none;
  z-index: 1;
}

.media-zoom-preview-area .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

.media-zoom-preview-area img {
  max-width: none;
  max-height: none;
  position: absolute;
}

@media (min-width: 990px) {
  .product-modal-opener.image-zoom-type-zoom_hover .product-media-toggle,
  .product-modal-opener.image-zoom-type-zoom_hover .product-media-icon-enlarge {
    display: none;
  }

  .product-modal-opener.image-zoom-type-lightbox_zoom_hover .product-media-toggle {
    display: none;
  }
}

.product-variants {
  margin: 3.5rem 0 4rem;
}

@media (min-width: 750px) {
  .product-variants {
    width: 42rem;
    max-width: 100%;
  }
}

.product-variants .product-form-input {
  margin-bottom: 1rem;
}

.product-variants .product-form-input legend {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: var(--font-bolder-weight);
  margin-bottom: 1rem;
}

.product-variants .product-form-input [type=radio] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-variants .product-form-input [type=radio] + label {
  font-size: calc(var(--font-body-scale) * 1.3rem);
  font-family: inherit;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem 0.8rem 0;
  text-decoration: none;
  background: rgb(var(--color-base-background-2));
  box-shadow: 0 0 0 0.1rem var(--color-border);
  color: rgb(var(--color-base-text));
  height: auto;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  border-radius: var(--buttons-radius);
  font-weight: var(--font-bolder-weight);
}

.product-variants-color-scheme-button-primary .product-form-input [type=radio]:checked + label {
  box-shadow: 0 0 0 0.1rem rgb(var(--color-buttons-primary-background));
  color: rgb(var(--color-buttons-primary-text));
  background: rgb(var(--color-buttons-primary-background));
}

.product-variants-color-scheme-button-secondary .product-form-input [type=radio]:checked + label {
  box-shadow: 0 0 0 0.1rem rgb(var(--color-buttons-secondary-background));
  color: rgb(var(--color-buttons-secondary-text));
  background: rgb(var(--color-buttons-secondary-background));
}

.product-variants .product-form-input [type=radio].disabled + label {
  opacity: .6;
  position: relative;
  overflow: hidden;
}

.product-variants .product-form-input [type=radio].disabled + label::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: calc(100% + 10px);
  background-color: rgba(202, 65, 65, 1);
  top: 50%;
  left: -5px;
  transform: rotate(-26deg);
  opacity: .4;
}

.product-variants .product-form-input [type=radio]:focus-visible + label {
  box-shadow: 0 0 0 0.2rem rgba(var(--color-foreground)), inset 0 0 0 .2rem rgb(var(--color-base-background-2));
}

.product-variants .product-form-input:last-of-type {
  margin-bottom: 0;
}

.product-variants .product-form-input [type=radio] + label[data-image] {
  background-size: cover;
}

.product-variants .product-form-input [type=radio] + label[data-color],
.product-variants .product-form-input [type=radio] + label[data-image] {
  text-indent: -999em;
  padding: .2rem;
  width: 3.8rem;
  height: 3.8rem;
  border: .4rem solid rgb(var(--color-background));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none;
  border-radius: var(--buttons-radius);
}

@media (min-width: 1200px) {
  .product-variants .product-form-input [type=radio] + label[data-color],
  .product-variants .product-form-input [type=radio] + label[data-image] {
    width: 3rem;
    height: 3rem;
    padding: .4rem;
  }
}

.product-variants .product-form-input [type=radio]:checked + label[data-color],
.product-variants .product-form-input [type=radio]:checked + label[data-image] {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-foreground));
  background-color: transparent;
}

.variants-hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}

html.no-js .variants-hidden {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.variants-visible {
  opacity: 1;
  transition: opacity .3s ease;
}

.product-actions {
  margin-top: 2rem;
}

.product-actions .product-actions-add-to-cart-quantity {
  height: 4.4rem;
}

.product-info .button-add-to-cart:only-child {
  width: 100%;
  margin-bottom: 1rem;
}

.product-actions-add-to-cart:empty {
  display: none;
}

.product-actions-add-to-cart-quantity button.shopify-payment-button__button--unbranded,
.product-actions-add-to-cart-quantity button.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background: none;
  box-shadow: none;
}

.product-actions-add-to-cart-quantity .product-actions-buy-now {
  flex: auto;
}

.shopify-payment-button__more-options {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  margin-top: 0.75rem;
}

#more-payment-options-link {
  color: currentColor;
  font-size: calc(var(--font-body-scale)* 1.4rem);
  margin-top: 0.5rem;
}

@media (min-width: 750px) {
  .product-actions-buy-now {
    width: 20rem;
  }

  .product-info .product-actions {
    display: flex;
    grid-gap: 1rem;
    width: 100%;
  }

  .product-info .product-actions-add-to-cart {
    margin: 0;
    max-width: 30rem;
  }

  .product-info .product-actions-add-to-cart-button-only,
  .product-info .product-actions-add-to-cart-quantity {
    flex: auto;
  }

  .product-info .button-add-to-cart {
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex: 1 0 auto;
  }

  .product-info .button-add-to-cart:only-child {
    margin-bottom: 0;
  }

  .product-info button.shopify-payment-button__button {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.product-actions-add-to-cart:empty + .product-actions-buy-now {
  min-width: 24rem;
}

.button-buy-now {
  width: 100%;
}

.product-info-extra {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding-top: 3rem;
  border-top: 1px solid var(--color-border);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.product-info-extra:first-child {
  margin-top: 0;
  border-top: 0;
  padding-top: 0;
}

@media (min-width: 990px) {
  .product-info-extra:last-child {
    margin-bottom: 0;
  }
}

.product-info-extra-aux span {
  display: block;
}

.product-info-extra-aux > * {
  margin-bottom: .5rem;
}

.product-info-extra-sharing {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  flex: none;
}

.product-info-recommendations {
  grid-column: span 2;
}

.custom-liquid-right {
  margin: 3rem 0;
}

.custom-liquid-right-title {
  display: flex;
  align-items: flex-start;
}

.custom-liquid-right-title svg {
  margin-right: 1rem;
  flex: none;
}

.custom-liquid-right-title svg path {
  fill: rgb(var(--color-accent-2));
}

.product-info-details {
  margin: 4rem 0;
  background: none;
}

.product-info-sidebar .product-info-details {
  margin-top: 0;
}

.product-info-details-title {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  margin-bottom: 1.5rem;
  color: currentColor;
}

.product-info-details-title svg {
  width: 2.4rem;
  height: 2.4rem;
}

.product-info-details-title svg path {
  fill: rgba(var(--color-foreground), .45);
}

.product-info-details-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: calc(var(--font-body-scale) * 1.4rem);
}

.product-info-details-item {
  display: flex;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius-base);
}

.product-info-details-item:nth-child(odd) {
  background: rgba(var(--color-base-background-2), 0.8);
  box-shadow: inset 0 0 0 0.1rem rgb(var(--color-card-border));
}

[class*="color-accent"] .product-info-details-item:nth-child(odd) {
  background: rgba(var(--color-foreground), 0.085);
  box-shadow: none;
}

.product-info-details-item-label {
  display: flex;
  flex: auto;
  padding-right: 1.5rem;
}

.product-info-details-item-value {
  color: rgb(var(--color-foreground-alt));
  font-weight: var(--font-bolder-weight);
  margin-left: auto;
  max-width: 75%;
  text-align: right;
}

.product-info-details-item-value a {
  color: rgb(var(--color-accent-1));
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  text-decoration-color: transparent;
  transition: text-decoration .18s ease;
  display: inline-flex;
  align-items: center;
}

.product-info-details-item-value a:hover {
  text-decoration: underline;
}

.product-info-details-item-icon-download {
  position: relative;
  top: .2rem;
  margin-right: .5rem;
  transform: translateY(-.3rem);
  opacity: 0;
  transition: transform .18s ease, opacity .18s ease;
}

.product-info-details-item-value a:hover .product-info-details-item-icon-download {
  opacity: 1;
  transform: translateY(0.1rem);
}

.product-info-details-item-icon-download svg {
  width: 1.6rem;
  height: auto;
}

.product-info-details-item-icon-download svg path {
  fill: rgba(var(--color-foreground), 0.6);
}

.product-info .product-recommendations {
  margin-top: 4rem;
  display: block;
}

.product-info .product-recommendations:empty {
  margin-top: 0;
}


.product-request-information-block {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.product-request-information-caption {
  margin-bottom: 2rem;
}

.product-request-information-toggle {
  width: 100%;
}

.product-request-information-toggle .angle {
  top: -1px;
}

.product-request-information-toggle.color-button-background-1 {
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0;
}

.product-request-information-toggle.color-button-background-1 .angle {
  margin-left: auto;
}

@media (min-width: 750px) {
  .product-request-information-toggle {
    width: 42rem;
  }

  .product-request-information-toggle.color-button-background-1 {
    width: 100%;
  }
}

.no-js .product-request-information-toggle,
.product-request-information-toggle[aria-expanded=true] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: var(--border-radius-base);
  border-top-right-radius: var(--border-radius-base);
}

.product-request-information-toggle[aria-expanded=true]:hover,
.product-request-information-toggle[aria-expanded=true]:focus {
  box-shadow: none;
}

.no-js .facet .product-request-information-toggle .angle-icon::before,
.no-js .facet .product-request-information-toggle .angle-icon::after,
.product-request-information-toggle[aria-expanded=true] .angle-icon::before,
.product-request-information-toggle[aria-expanded=true] .angle-icon::after {
  transform: rotate(0);
  height: 2px;
}

.product-request-information-heading {
  margin: 0;
}

.product-request-information-content {
  padding: 2.5rem;
  border-top-right-radius: var(--border-radius-base);
  border-bottom-right-radius: var(--border-radius-base);
  border-bottom-left-radius: var(--border-radius-base);
  box-shadow: none;
}

.product-request-information-content.color-background-1 {
  padding: 2rem 0 0;
  box-shadow: none;
}

/* Shopify subscriptions App */
.shopify_subscriptions_app_block  .shopify_subscriptions_app__title {
  margin: 0 0 var(--spacing-base-1);
  text-rendering: optimizeLegibility;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  line-height: calc(1 + 0.2 / max(1, var(--font-heading-scale)));
  word-break: break-word;
}

.shopify_subscriptions_app_block .shopify_subscriptions_app_block_label {
  padding: 2rem;
}

.shopify_subscriptions_app_block .shopify_subscriptions_app_block_label label {
  margin: 0;
  display: flex;
  align-items: center;
  grid-gap: 0.6rem;
  color: currentColor;
}

.shopify_subscriptions_app_block .shopify_subscriptions_purchase_option_wrapper {
  display: flex;
  align-items: center;
}

.shopify_subscriptions_app_block [type="radio"] {
  width: 2rem;
  height: 2rem;
  margin: -0.2rem 0 0;
}

.shopify_subscriptions_app_block .shopify_subscriptions_in_widget_price {
  font-weight: var(--font-bolder-weight);
  display: block;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: 1;
}

.shopify_subscriptions_app_block .shopify_subscriptions_app_block_label_children {
  padding: 0;
  margin: 1.5rem 0 0 0;
}

.shopify_subscriptions_app_block .shopify_subscriptions_app_block_label_children li {
  display: block;
  margin: 0 0 1rem;
}

.shopify_subscriptions_app_block .shopify_subscriptions_app_policy {
  margin: 1.5rem 0 0;
  font-size: calc(var(--font-body-scale) * 1.3rem);
}

.shopify_subscriptions_app_block .shopify_subscriptions_app_policy a {
  color: rgb(var(--color-accent-1));
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration .18s ease;
  text-decoration-color: transparent;
}

.shopify_subscriptions_app_block .shopify_subscriptions_app_policy a:hover {
  text-decoration: underline;
}

/* Product modal gallery
=================================== */
.product-media-modal {
  background-color: rgb(var(--color-background));
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  cursor: zoom-out;
}

.product-media-modal[open] {
  visibility: visible;
  opacity: 1;
  z-index: 130;
}

.product-media-modal-dialog {
  display: flex;
  align-items: center;
  height: 100vh;
}

.product-media-modal-content {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
}

.product-media-modal-content > * {
  display: block;
  height: auto;
  margin: auto;
  max-width: none;
}

@media (min-width: 990px) {
  .product-media-modal-content {
    padding: 2rem 11rem;
  }

  .product-media-modal-content > * + * {
    margin-top: 2rem;
  }
}

.product-media-modal-toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid var(--color-border);
  color: rgba(var(--color-foreground), 0.55);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 2rem;
  padding: 1.2rem;
  position: fixed;
  z-index: 2;
  top: 2rem;
  width: 4rem;
  height: 4rem;
}

.product-media-modal-toggle:focus-visible::after {
  content: "";
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.5);
}

.product-media-modal-content > *:not(.is-active),
.product-media-list .deferred-media {
  display: none;
}

@media (min-width: 990px) {
  .product-media-modal-content > *:not(.is-active),
  .product-media-list .deferred-media {
    display: block;
  }
}

/* Product description tabs
=================================== */
.product-tab-navigation .tab-nav-item {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: calc(var(--font-body-scale) * 1.6rem);
}

@media (min-width: 750px) {
  .product-tab-navigation .tab-nav-item {
    min-height: 5.4rem;
  }
}

.product-tab-navigation .tab-nav svg path {
  fill: rgba(var(--color-foreground), .35);
}

.product-tab-navigation .tab-nav-item-has-reviews svg path {
  fill: var(--color-product-review-star);
}

.product-tabs-component .tabs-component-content {
  padding: 2rem;
  margin-top: 2.5rem;
  border-radius: var(--border-radius-base);
  box-shadow: inset 0 0 0 0.1rem rgb(var(--color-card-border));
}

.product-tabs-component .tabs-component-content > :last-child {
  margin-bottom: 0;
}

@media (min-width: 750px) {
  .product-tabs-component .tabs-component-content {
    padding: 3.5rem;
  }
}

/* Recipient form */
.recipient-form {
  display: block;
  position: relative;
  max-width: 44rem;
  margin-bottom: 3.5rem;
}

.recipient-form-field-label {
  margin: 0.6rem 0;
}

.recipient-form-field-label-note {
  display: block;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  margin-top: -.5rem;
}

.recipient-checkbox {
  flex-grow: 1;
  display: flex;
  word-break: break-word;
  align-items: center;
  max-width: inherit;
  position: relative;
  margin: 1.5rem 0 0;
  gap: 0.5em;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  padding-left: 2.35rem;
}

.no-js .recipient-checkbox,
.no-js .recipient-checkbox + [type="checkbox"] {
  display: none;
}

.recipient-form > [type="checkbox"] {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0;
  top: .1rem;
  left: 0;
}

.recipient-fields-field {
  margin: 0 0 2rem 0;
}

.recipient-fields-field .field {
  margin-bottom: .75rem;
}

.recipient-fields .field__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 3.5rem);
  overflow: hidden;
}

.recipient-form .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 0.28rem;
  z-index: 5;
  top: 0.4rem;
}

.js .recipient-fields {
  display: none;
}

.recipient-fields hr {
  margin: 1.6rem auto;
}

.recipient-form > input[type='checkbox']:checked ~ .recipient-fields {
  display: block;
}

.recipient-form > input[type='checkbox']:not(:checked, :disabled) ~ .recipient-fields,
.recipient-email-label {
  display: none;
}

.js .recipient-email-label.required,
.no-js .recipient-email-label.optional {
  display: inline;
}

.recipient-form .form-status-error {
  margin-top: 2rem;
  font-size: calc(var(--font-heading-scale) * 2.4rem);
}

.recipient-form .form-status-error .form-message {
  color: currentColor;
  font-size: calc(var(--font-heading-scale) * 1.4rem);
}

.recipient-form .error-message {
  color: var(--color-error);
}

.recipient-form ul {
  font-size: calc(var(--font-heading-scale) * 1.4rem);
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  text-align: left;
  margin: 0;
}

.recipient-form ul a {
  display: inline;
}

.recipient-form .error-message::first-letter {
  text-transform: capitalize;
}

@media screen and (forced-colors: active) {
  .recipient-fields > hr {
    border-top: 0.1rem solid var(--border-color-base);
  }
}
