/* Section - Map
=================================== */
map-locations {
	display: block;
	max-width: 100%;
	width: 100%;
}

.section-map-wrap {
	position: relative;
	display: flex;
}

.section-map-wrap-inner {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
}

@media (min-width: 990px) {
	.section-map-wrap {
		flex-direction: row;
	}

	.section-map-wrap::after {
		content: "";
		display: block;
		padding-bottom: 36.25%;
	}

	.section-map-wrap-inner {
		flex-direction: row;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		grid-gap: 2rem;
	}
}

.section-map-locations-wrap {
	padding: 3rem 0 0;
	position: relative;
}

@media (min-width: 990px) {
	.section-map-locations-wrap {
		padding: 0;
		width: calc(50% - 1rem);
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.section-map-locations-map-wrap-inner {
		margin-top: auto;
	}

	.section-map-locations-scroll::-webkit-scrollbar {
		scroll-behavior: smooth;
		height: 6px;
		margin-top: 10px;
		display: block;
	}

	.section-map-locations-scroll::-webkit-scrollbar-track {
		background-color: transparent;
	}

	.section-map-locations-scroll::-webkit-scrollbar-thumb {
		background-color: rgba(var(--color-foreground), .35);
		border-radius: 10px;
	}
}

.section-map-locations-scroll {
	padding-bottom: 20px;
	margin-bottom: -20px;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}

@media (min-width: 990px) {
	.section-map-locations-scroll {
		padding-bottom: 0;
		margin-bottom: 0;
		margin-top: auto;
		flex: auto;
	}

	.section-map-locations-scroll-long {
		padding-bottom: 2rem;
	}
}

.section-map-locations {
	display: flex;
	flex-flow: row nowrap;
	grid-gap: 1.5rem;
}

.section-map-locations-location {
	width: 55%;
	max-width: 55%;
	flex: none;
	scroll-snap-align: center;
	margin-right: 2rem;
}

.section-map-locations-location:only-child {
	width: 100%;
	max-width: 100%;
}

@media (min-width: 750px) {
	.section-map-locations-location {
		width: 24rem;
		max-width: 24rem;
	}

	.section-map-locations-location:only-child {
		width: 100%;
		max-width: 100%;
	}
}

@media (min-width: 990px) {
	.section-map-locations-location {
		border-right: 0;
		padding-right: 0;
		margin-right: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.location-address-trigger-link {
		margin-top: auto;
	}

	.section-map-locations-location:last-child {
		margin-bottom: 0;
	}
}

.section-map-locations-location:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}

.location-title {
	display: flex;
	align-items: flex-start;
	font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.location-title svg {
	width: 1.6rem;
	height: 1.6rem;
	flex: none;
	margin-right: .2rem;
	position: relative;
	top: .1rem;
	left: -.2rem;
}

.location-title svg path {
	fill: rgb(var(--color-accent-1));
}

[class*="color-accent-"] .location-title svg path {
	fill: currentColor;
}

.location-title a {
	color: var(--color-foreground);
}

.location-address {
	margin: 0;
}

.location-address > :last-child {
	margin-bottom: 0;
}

.location-address h6 {
	font-size: calc(var(--font-heading-scale) * 1.1rem);
	text-transform: uppercase;
	margin-bottom: .5rem;
	margin-top: 2rem;
}

.section-map-main-wrap {
	flex: auto;
	padding: 0;
	position: relative;
}

.location-address-trigger-link {
	display: inline-flex;
	align-items: center;
	margin-top: 1.5rem;
	color: rgb(var(--color-accent-1));
	font-weight: var(--font-bolder-weight);
}

[class*="color-accent-"] .location-address-trigger-link {
	color: currentColor;
}

.location-address-trigger-link .angle {
	width: 1.2rem;
	height: 1.2rem;
	color: rgb(var(--color-foreground));
	opacity: .6;
	margin-left: .25rem;
}

.map-image-wrap {
	height: 100%;
	overflow: hidden;
}


@media (min-width: 990px) {
	.map-image-wrap .aspect-ratio {
		height: 100%;
		width: 100%;
	}

	.map-image-wrap .aspect-ratio::after {
		display: none;
	}
}

.map-image {
	border-radius: var(--border-radius-base);
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: absolute;
}

.map-card {
	width: 100%;
	background-color: rgb(var(--color-base-background-2));
	border-radius: var(--border-radius-base);
	box-shadow: inset 0 0 0 0.1rem rgb(var(--color-card-border));
}

@media (min-width: 990px) {
	.map-card {
		height: 100%;
	}
}

.map-card::after {
	content: "";
	display: block;
	padding-bottom: 56.25%; /* 16:9 */
}

@media (min-width: 990px) {
	.map-card::after {
		display: none;
	}
}

.map-card-button-reset {
	position: absolute;
	bottom: 30px;
	left: 30px;
	font-family: inherit;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 0;
	padding: 1rem 1.2rem;
	text-decoration: none;
	background-color: #fff;
	color: #666666;
	min-width: 12rem;
	height: auto;
	box-shadow: rgb(0 0 0 / 30%) 0 1px 4px -1px;
	font-size: calc(var(--font-body-scale) * 1.6rem);
	line-height: calc(1 + 0.2 / var(--font-body-scale));
	border-radius: 3px;
	font-weight: var(--font-bolder-weight);
	word-break: break-word;
	text-transform: none;
}

@media (min-width: 750px) {
	.map-card-button-reset {
		bottom: 35px;
		left: 35px;
		padding: 1.2rem 1.5rem;
	}
}

/* Info window */
.map-info-window {
	padding: 1rem;
	font-size: calc(var(--font-body-scale) * 1.4rem);
}

.map-info-window > *,
.location-address > * {
	margin-bottom: 1rem;
}

.map-info-window > :last-child {
	margin-bottom: 0;
}

.map-info-window h1,
.map-info-window h2,
.map-info-window h3,
.map-info-window h4,
.map-info-window h5,
.map-info-window h6 {
	font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.map-info-window a {
	color: rgb(var(--color-accent-1));
	text-underline-offset: 0.3rem;
	text-decoration-thickness: 0.1rem;
	text-decoration: underline;
}

