/* Section - Filters
=================================== */

.section-filters-form-wrap {
	position: relative;
	margin: 0;
}

.section-filters-form .form-group {
	margin-bottom: 2rem;
}

.section-filters-form .form-group.disabled label {
	opacity: .7;
}

.section-filters-form .tooltip::before {
	background: none;
	font-size: 1.2rem;
}

.section-filters-form .tooltip::after {
	left: auto;
	right: 0;
	transform: none;
}

.section-filters-form select,
.section-filters-form .button {
	height: 5.5rem;
	transition: opacity .18s ease;
}

.section-filters-form select {
	border-color: rgba(var(--color-foreground), .35);
}

.section-filters-form select[disabled] {
	background-color: rgba(var(--color-foreground), .1);
	color: rgba(var(--color-foreground));
	opacity: .5;
	border: 0;
}

.color-accent-1 .section-filters-form select[disabled] {
	background-color: rgba(var(--color-foreground), .2);
	opacity: .65;
}

.is-loading .section-filters-form select,
.is-loading .section-filters-form .button {
	opacity: .8;
	pointer-events: none;
}

.section-filters-form .button {
	margin-top: 1.5rem;
	min-width: 18rem;
}

.section-filters-wrapper:not(.section-filters-wrapper-fullwidth) .block-section {
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: var(--border-radius-base);
}

@media (min-width: 990px) {
	.section-filters-wrapper:not(.section-filters-wrapper-fullwidth) .block-section {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@media (min-width: 990px) {
	.section-filters-form {
		display: flex;
		align-items: flex-end;
		grid-gap: var(--grid-desktop-horizontal-spacing);
		justify-content: space-evenly;
	}

	.section-filters-form-wrap-long .section-filters-form {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.section-filters-form .form-group {
		margin: 0;
		flex: 1 0 0;
		width: auto;
	}

	.section-filters-form-wrap-long .form-group {
		flex: auto;
		width: calc(25% - 1.5rem);
		max-width: calc(25% - 1.5rem);
	}

	.section-filters-form .button {
		width: auto;
		margin-top: 0;
		margin-left: 2rem;
	}
}
